<H3>Create Account</H3>

<form method = 'POST' action="">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" name="Create User">
</form>



<!--
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>
    DormDash Create Account Page
  </title>
</head>
<body>
 
<table style=" margin-left:auto;margin-right:auto;margin-top: 10%;">
  <tr>
    <td align="center">
      {% load static %} <img src="{% static "DormDashApp/media/DD.PNG" %}" alt="DormDash" />
    </td>
  </tr>
  <tr >

    <td valign="center" style="width: 300px">
      <h6>Please Enter an Email and Password</h6>
      <form method="POST" action="">
        {% csrf_token %}
      <input type="text" class="form-control" placeholder="Email" name="email" style="width:300px">
    </br>
      <input type="password" class="form-control" placeholder="Password1" name="password1" style="width:300px">
    </br>
    <input type="password" class="form-control" placeholder="Password2" name="password2" style="width:300px">
    </br>
      <button type="submit" class="btn btn-primary">Create Account</button>
      </form>
      {% for message in messages %}
					<p id="messages">{{message}}</p>
			{% endfor %}
  </br>
</br>
  <p>Or, <a href="/login">Click here to login to an existing account</a></p>
    </td>
  </tr>
</table>

</body>
</html>
-->





