<img src= 'DD.PNG' alt="DormDash" style="width:1000px;height:200px;" class="center"/>
<h1>Create Account</h1>
<body style = "background-color: #FF0000;"</body>
<form action="action_page.php" style="border:1px solid #ccc">
    <div class="container">
      <p>Please Enter an Email and Passowrd:</p>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" size = 50 required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" size= 50 required>
  
      <div class="clearfix">
        <button type="button" class="button">Cancel</button>
        <button type="submit" class="button">Sign Up</button>
      </div>
    </div>
  </form>
  <style>
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .button {
    background-color: #FF0000; 
    border: 2px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
h1 {
  font-size: 60px;
}
  </style>