  <title>
    DormDash Login Page
  </title>
  {% extends "navbar.html" %}
  {% block content %}
<table style=" margin-left:auto;margin-right:auto;margin-top: 10%;">
  <tr>
    <td align="center">
      {% load static %} <img src="{% static "DormDashApp/media/DD.PNG" %}" alt="DormDash" />
    </td>
  </tr>
  <tr >

    <td valign="center" style="width: 300px">
      <h6>Please Enter Your Email and Password</h6>
      <form method="POST" action="">
        {% csrf_token %}
      <input type="text" class="form-control" placeholder="Username" name="username" style="width:300px">
    </br>
      <input type="password" class="form-control" placeholder="Password" name="password" style="width:300px">
    </br>
      <button type="submit" class="btn btn-primary">Log In</button>
      </form>
      {% for message in messages %}
					<p id="messages">{{message}}</p>
			{% endfor %}
  </br>
</br>
  <p>Or, <a href="/createaccount">Click here to create an account</a></p>
    </td>
  </tr>
</table>
{% endblock %}